@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* All wrapper */
.all-main-wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}
/* ------------------- */

/* Box container */
.main-container-box {
    width: 1520px;
    padding: 20px;
    text-align: center;

    background: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
}

/* Trigger elemnts into new scale */
@media (max-width: 1550px) {
    .main-container-box {
        width: 1250px;
    }
    .third-row input[type="number"] {
        margin-right: 17.5%;
    }
}
/* ------------------- */

/* Top partition */
.top-left {
    width: 10%;
    float: left;
}

.side-icon {
    width: 90%;
    margin-top: 5px;
}

.logout-button {
    width: 80%;
    height: 30px;
    margin-top: 10px;

    border-radius: 5px;
    border-width: 1px;
    color: white;
    background-color: #d23f2f;
}

.top-right {
    width: 90%;
    float: right;
}
/* ------------------- */

/* Form types-inputs */
.all-inputs {
    margin-top: 20px;
}
.first-row {
    width: 100%;
    height: 60px;
}

.first-row select {
    float: left;
    width: 21%;

    border-radius: 10px;
    padding: 5px;
    margin: 10px 40px 10px 20px;
}

.first-row input {
    float: left;
    width: 21%;
    
    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15%;
}

.second-row {
    width: 100%;
    height: 60px;
}

.second-row select {
    float: left;
    width: 21%;

    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin: 10px 40px 10px 20px;
}

.second-row input {
    float: left;
    width: 21%;

    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.third-row {
    width: 100%;
    height: 60px;
}

.third-row input {
    float: left;
    width: 21%;

    border-radius: 10px;
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 1.5%;
    margin-right: 16.5%;
}

.all-inputs input[type="submit"] {
    float: left;
    width: 21%;

    border-radius: 10px;
    margin-left: 76.5%;
    margin-top: -4.5%;
    background-color: #03256C;
}
/* ------------------- */

.results-wrapper {
    float: right;
    width: 100%;
    height: 5%;

    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #d9d9d9;
}

.table-content {
    border-radius: 10px;
}